@model IEnumerable<_9M9H9E9.Data.Post>
<hr />
<p>Viewing the most recent posts, click @Html.ActionLink("here", "Index", "Home") to view in order</p>
@foreach (var item in Model)
{
    <hr />
    <h4>Posted on @Html.DisplayFor(modelItem => item.Posted) (UTC) <a href="@Html.DisplayFor(modelItem => item.Link)">Link</a></h4>
    @Html.Raw(item.Body)
}
